@import 'app/root.css';

.root{
	height: 100%;
	padding-bottom: 430px;
	padding-top: 230px;

	.congress{
		padding-bottom: 7px;
	}

	@media (--BP2-only) {
		padding-bottom: 220px;
		padding-top: 260px;
	}

	@media (--BP3-min) {
		padding-bottom: 286px;
		padding-top: 337px;
	}
	h3{
		line-height: normal;
	}
}
