@import 'app/root.css';

.root {
	display: flex;
	width: 100%;
	max-width: 100%;
	flex: 0 0 100%;
	@media (--BP2-min) {
		width: 50%;
		max-width: 50%;
		flex: 0 0 50%;
	}
}

.pureHalf {
	width: 50%;
	max-width: 50%;
	flex: 0 0 50%;
}

.wrap {
	flex-wrap: wrap;
}

.block {
	display: block;
}

.column {
	flex-direction: column;
}

.justifyContentCenter {
	justify-content: center;
}

.alignItemsCenter {
	align-items: center;
}
