# Mac
.DS_Store

# Node
node_modules
npm-debug.log
.nyc_output
coverage

# Swap
.swp
.tern-port

# Precompiled assets
public/assets
public/uploaded_images
public/modernizr.js

# Webstorm
.idea/
build/
package-lock.json
