@import 'app/root.css';

.root {
	input {
		size: 100% 100px;
		display: block;
		padding: 19px 30px;
		text: var(--openSans-title21) var(--gray);
		background-color: var(--white);
		border-radius: 0;
		border: solid 1px var(--silver);
		outline: none;
		-webkit-appearance: none;
		&::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
			-webkit-appearance: none;
		}

		@media (--BP2-min) {
			//height: 60px;
			//padding: 17px 20px;
		}

		&::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
		/* Chrome/Opera/Safari      ,    Firefox 19+     ,   IE 10+               ,   Firefox 18-     */
			 color: var(--jumbo);
		}
	}
	textarea {
		display: block;
		resize: none;
		border-radius: 0;
		-webkit-appearance: none;
		padding: 19px 30px;
		size: 100% 100px;
		text: var(--openSans-title21) var(--gray);
		background-color: var(--white);
		border: solid 1px var(--silver);
		outline: none;

		@media (--BP2-min) {
			size: * 200px;
		}
	}
}

.inputWrapper {
	position: relative;
}


.labelText {
	position: absolute;
	z-index: 10;
	left: 20px;
	top: -12px;
	background: var(--white);
	padding: 0 5px;
	text: var(--openSans-title16) var(--light-gray);
}
