:root {
	/*Fonts*/
	--sansSerif: sans-serif;
	--openSans: 'OpenSans', sans-serif;
	--notoSans: 'NotoSans', sans-serif;

	/* section to define grid variables */

	/* predefined some maxWidthes for all BPs */
	/* need to check and correct for each projects */

	--minWidth: 320px;

	/*container width*/

	--BP2-max-width: 700px;
	--BP3-max-width: 940px;
	--BP4-max-width: 1115px;
	--BP5-max-width: 1160px;
	--BP6-max-width: 1160px;
	/* section to define color variables */

	/*UI colors*/
	--black: #000000;
	--white: #ffffff;
	--gold: #c69c6d;
	--dark-gray: #474747;
	--gray: #666666;
	--light-gray: #b1b1b1;
	--jumbo: #717073;
	--silver: #dbdbdb;
	--shadyLady: #cbcbcb;
	--silver2: #858585;

	/*texts*/
	--openSans-title12: 400 12px 20px;
	--openSans-title14: 400 14px 29px 0.02em;
	--openSans-title16: 400 16px 20px ;
	--openSans-title21: 300 21px 29px 0.02em ;
	--openSans-title42: 300 42px normal 0.02em;
	--openSans-title60: 300 60px 60px 0.02em;
	--opensSans-title16_bold: 700 16px 29px 0.02em;
	--openSans-title16_29: 400 16px 29px 0.02em;

	--notoSans-title16: 700 16px 20px ;
}


/* section to define media variables */

/* predefined some BPs */
/* need to check and correct BPs for each projects */
@custom-media --BP1-only screen and (max-width: 767px);
@custom-media --BP1-max screen and (max-width: 767px);

/*tablet bps*/
@custom-media --BP2-min screen and (min-width: 768px);
@custom-media --BP2-max screen and (max-width: 1023px);
@custom-media --BP2-only screen and (max-width: 1023px) and (min-width: 768px);

@custom-media --BP3-min screen and (min-width: 1024px);
@custom-media --BP3-max screen and (max-width: 1279px);
@custom-media --BP3-only screen and (max-width: 1279px) and (min-width: 1024px);

@custom-media --tablet-only screen and (min-width: 768px) and (max-width: 1279px);

/*desktop bps*/
@custom-media --BP4-min screen and (min-width: 1280px);
@custom-media --BP4-max screen and (max-width: 1439px);
@custom-media --BP4-only screen and (max-width: 1439px) and (min-width: 1280px);

@custom-media --BP5-min screen and (min-width: 1440px);
@custom-media --BP5-max screen and (max-width: 1919px);
@custom-media --BP5-only screen and (max-width: 1919px) and (min-width: 1440px);

@custom-media --BP6-only screen and (min-width: 1920px); /* for for-loops postcss plugin */
@custom-media --BP6-min screen and (min-width: 1920px);
