@import 'app/root.css';

.root{
	size: 100% *;
	position: absolute * * 0 *;
	padding-bottom: 50px;
}
.footer{
	padding-top: 65px;
	border-top: solid 1px var(--shadyLady);
}
.navigation{
	a{
		color: var(--silver2);
	}
}
.credits{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 41px;
}
.creditText{
	display: block;
	width: 250px;
	margin: 0;
}
.creditText, .footerItems{
	text: var(--openSans-title12) var(--shadyLady);
	margin: 0;
	text-transform: uppercase;
}
.footerLinks{

}
.footerItems{
	text-transform: uppercase;
	text-decoration: none;
	color: var(--gray);
	margin-right: 35px;
	&:last-child{
		margin-right: 0;
	}
}

