@import 'app/root.css';

.root{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav_left{
	padding-top: 37px;
	a{
		margin-right: 138px;
	}

	@media (--BP3-only) {
		a{
			margin-right: 78px;
		}
	}
	@media (--BP2-max) {
		display: none;
	}
}
.logo{
	padding-top: 5px;
}
.nav_right{
	padding-top: 37px;
	a{
		margin-left: 170px;
	}

	@media (--BP3-only) {
		a{
			margin-left: 78px;
		}
	}
	@media (--BP2-max) {
		display: none;
	}

}
.nav_item{
	text: var(--openSans-title16) var(--header-black);
	text-transform: uppercase;
	text-decoration: none;

	.on_main_page& {
		color: var(--white)
	}
}
