@import 'app/root.css';

.root {
	display: flex;
	flex-direction: column;
	position: relative;
}

.children {
	width: 100%;
	margin: auto 0;
}

.fixToBottom {
	margin: auto 0 0;
}

.inheritHeight {
	height: 100%;
}
